{% extends "AnyxUserBundle::layout.html.twig" %}

{% set title = 'layout.login'|trans({}, 'FOSUserBundle') %}

{% block title %}
    {{ title }}
{% endblock %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block fos_user_content %}

{% render "AnyxCrosswordBundle:Default:listAuthServices"  %}
<p>{% trans %}or use your account on site{% endtrans %}:</p>

<form action="{{ path("fos_user_security_check") }}" method="post" class="login-form seven-columns">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <ul class="inputs">
        <li>
            <span class="icon-user mid-margin-right"></span>
            <input type="text" autocomplete="off" placeholder="{{ 'username'|trans }}" class="input-unstyled" value="{{ last_username }}" id="username" name="_username">
        </li>
        <li>
            <span class="icon-lock mid-margin-right"></span>
            <input type="password" autocomplete="off" placeholder="{{ 'password'|trans }}" class="input-unstyled" value="" id="password" name="_password">
        </li>
    </ul>
    
    <p>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">
        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>
    </p>
    
    <p><a href="{{ path('fos_user_registration_register') }}">{{ 'Register' | trans }}</a></p>
    
    <p class="submit-container">
    <input type="submit" id="_submit" class="button blue-gradient glossy" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </p>
</form>
{% endblock fos_user_content %}

{% block right_hint %}
    <div class="four-columns ">
        <div class="wrapped relative hint">
            {{ 'Authorized users can create own crosswords. For solving crosswords authorization not required' | trans }}
        </div>
    </div>
{% endblock right_hint %}
