{% extends '::main.html.twig' %}

{% set title = 'Edit crossword' | trans() %}

{% block title %}{{title}}{% endblock %}

{% block page_title %}{{title}}{% endblock %}

{% block page_subtitle %}
<div class="menu-subtitle">
    <a href="{{ path('constructor', {'id' : form.vars.value.id}) }}">{{'Go to constructor' | trans}}</a>
</div>    
{% endblock %}

{% block body %}

<div class="columns">
    <div class="seven-columns">
        {% include "AnyxCrosswordBundle:Crossword:form.html.twig" with {'form': form} %}
    </div>
    <div class="four-columns wrapped hint left-icon icon-info-round">
    {{ 'Crossword can be published if he contains more than one word' | trans }}
    </div>
</div>

{% endblock %}