
{% if form.vars.value.getId() == null %}
	{% set action = path('create_crossword') %}
{% else %}
	{% set action = path('crossword_edit', {'id' : form.vars.value.getId() }) %}
{% endif %}

{% form_theme form 'AnyxCrosswordBundle:Form:theme.html.twig' %}

<form action="{{action}}" method="POST" {{ form_enctype(form) }} class="form relative">
    {{ form_errors(form) }}

    <div class="margin-bottom">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, { 'attr': { 'class' : 'input eleven-columns', 'required' : 'requireds' } }) }}
    {{ form_errors(form.title) }}
    </div>

    <div class="margin-bottom">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, { 'attr': { 'class' : 'input eleven-columns', 'rows' : 4 } }) }}
    {{ form_errors(form.description) }}
    </div>

    {% if form.public is defined %}
    <div class="margin-bottom">
        {{ form_widget(form.public) }}
        {{ form_label(form.public) }}
    </div>
    {% endif %}

    {{ form_rest(form) }}
        
    <div class="submit-container">
        <input type="submit" class="button blue-gradient glossy" value="{% trans %}Save{% endtrans %}"/>
    </div>
</form>