{% extends '::main.html.twig' %}

{% set title = 'Create crossword' | trans() %}

{% block title %}{{title}}{% endblock %}

{% block page_title %}{{title| trans}}{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts
        '@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
        '@AnyxCrosswordBundle/Resources/public/js/jquery.tagsinput.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('.j-tags').tagsInput({
                minChars    : 3,
                inputClass  : 'input',
                defaultText : '',
                width       : null,
                height      : null
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@AnyxCrosswordBundle/Resources/public/css/jquery.tagsinput.css'
	%}
	<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
    
{% block body %}
<div class="columns">
    <div class="seven-columns">
        {% include "AnyxCrosswordBundle:Crossword:form.html.twig" with {'form': form} %}
    </div>
    <div class="four-columns wrapped hint left-icon icon-info-round">
    {{ 'Type crossword title and description. After save you can start adding words.' | trans() }}
    </div>
</div>
{% endblock %}