{% extends '::main.html.twig' %}

{% set title = 'Create crossword' | trans() %}

{% block title %}{{title}}{% endblock %}

{% block page_title %}{{title| trans}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AnyxCrosswordBundle/Resources/public/css/styles/form.css'
    %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}  


{% block body %}
<div class="columns">
    <div class="seven-columns">
        {% include "AnyxCrosswordBundle:Crossword:form.html.twig" with {'form': form} %}
    </div>
    <div class="four-columns wrapped hint left-icon icon-info-round">
    {{ 'Type crossword title and description. After save you can start adding words.' | trans() }}
    </div>
</div>
{% endblock %}