{% include 'AnyxCrosswordBundle:Lists:pagination.html.twig' with {'result': result}  %}

<ul>
{% for crossword in result %}
<li class="margin-bottom margin-top">
    <a href="{{path('crossword_solve', {'id' : crossword.id })}}">{{ crossword.title }}</a>
    <br>
    <small>{{ crossword.description | truncate(300)}}</small>
    <div class="crossword-info  blue-color">
        <span class="count-solving icon-users icon-size1 color" title="{{ 'Count solving' | trans }}">{{ crossword.countSolving }}</span>
        <small class="margin-left" title="{{ 'Date create' | trans }}">{{ crossword.createdAt.format('d.m.Y') }}</small>
    </div>
</li>
{% endfor %}
</ul>

{% include 'AnyxCrosswordBundle:Lists:pagination.html.twig' with {'result': result}  %}