{% extends '::main.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@WhiteOctoberPagerfantaBundle/Resources/public/css/pagerfantaDefault.css'
        '@AnyxCrosswordBundle/Resources/public/css/jquery.rating.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% set title = 'List crosswords' | trans %}
        
{% block page_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}
        
{% block page_subtitle %}
<div class="menu-subtitle">
    {{ knp_menu_render('AnyxCrosswordBundle:Builder:crosswordsMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'bullets margin-right' }) }}
</div>
{% endblock %}
        
{% block javascripts %}
	{{ parent() }}

    {% javascripts
        '@AnyxCrosswordBundle/Resources/public/js/jquery.rating.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function(){
            $('.j-tags-cloud a').click(function() {
                var selectedTags = $('.j-top-tags-input').val($(this).text())
                $('.j-top-search-form').submit();
                return false;
            });
            
            $('.j-sort-link').click(function(){
                $('.j-sort-value').val($(this).data('sort'));
                $('.j-main-search-form').submit();
                return false;
            });
        });
    </script>
{% endblock %}

        
{% block body %}
<div class="columns">
    <div class="seven-columns">
        <p>
            {{ 'Sort by' | trans}}:
            {% for sortField in allowedSortFields %}
                {% if sortField == currentSort %}
                    <span class="b-sort-selected">
                        {{ ('sortBy_' ~ sortField) | trans }}
                    </span>
                {% else %}
                    <a href="{{path('list_crosswords', {'sort' : sortField})}}">
                        {{ ('sortBy_' ~ sortField) | trans }}
                    </a>
                {%endif%}
                {{ loop.last ? '' : '|' }}
            {% endfor %}
        </p>
        <div class="results clear">
            {% if result is not empty %}
                {% include 'AnyxCrosswordBundle:Lists:_list.html.twig' with {'result': result}  %}
            {% else %}
                <div>{{ 'Crosswords not found' | trans }}</div>
            {% endif %}    
        </div>
    </div>
    <div class="four-columns">
        <h3 class="thin">{{'Tags' | trans}}</h3>
        {% render 'AnyxCrosswordBundle:Lists:tags' with {'sort' : 'new'} %}
    </div>
</div>
{% endblock %}