{% extends '::main.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@WhiteOctoberPagerfantaBundle/Resources/public/css/pagerfantaDefault.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% set title = 'New crosswords' | trans %}
        
{% block page_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}
        
{% block page_subtitle %}
<div class="menu-subtitle">
    {{ knp_menu_render('AnyxCrosswordBundle:Builder:crosswordsMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'bullets margin-right' }) }}
</div>
{% endblock %}
        
{% block body %}
<div class="results clear">
    {% if result is not empty %}
        {% include 'AnyxCrosswordBundle:Lists:list.html.twig' with {'result': result}  %}
    {% else %}
        <div>{{ 'Crosswords not found' | trans }}</div>
    {% endif %}    
</div>
{% endblock %}
