{% extends '::main.html.twig' %}

{% set title = 'Search' | trans %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@WhiteOctoberPagerfantaBundle/Resources/public/css/pagerfantaDefault.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block page_subtitle %}
<div class="menu-subtitle">
    {{ knp_menu_render('AnyxCrosswordBundle:Builder:crosswordsMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'bullets margin-right' }) }}
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('.j-tag, .j-tags-cloud a').click(function() {
                var tag = $(this).text();
                var selectedTags = $('.j-tags-input').val().split(',');
                var newTags = [];
                var needRemoveTag = false;
                
                for( var i = 0; i < selectedTags.length; i++) {
                    if ( selectedTags[i] == tag ) {
                        needRemoveTag = true;
                        continue;
                    }
                    if ($.trim(selectedTags[i]) !== '') {
                        newTags[newTags.length] = selectedTags[i];
                    }
                }
                
                if (!needRemoveTag) {
                    newTags[newTags.length] = tag;
                }

                $('.j-tags-input').val(newTags.join(','));
                $('.j-main-search-form').submit();
                return false;
            });
            
            $('.j-sort-link').click(function(){
                $('.j-sort-value').val($(this).data('sort'));
                $('.j-main-search-form').submit();
                return false;
            });
        });
    </script>
{% endblock %}
        
{% block body %}

<div class="columns">
    <div class="seven-columns">
        {% include 'AnyxCrosswordBundle:Lists:form.html.twig' with {'form': form} %}

        <div class="results clear">
            {% if result is empty %}
                {% if isValid %}
                    <span class="results-info margin-bottom">{{ 'Unfortunately nothing found' | trans }}</span>
                {% endif %}
            {% else %}
                <span class="results-info margin-bottom">{{ 'Found crosswords' | trans }}: {{ result.count }}</span>
                {% include 'AnyxCrosswordBundle:Lists:_list.html.twig' with {'result': result}  %}
            {% endif %}
        </div>
    </div>
    <div class="four-columns">
        <h3 class="thin">{{'Popular tags' | trans}}</h3>
        <p style="margin-top: -20px">{{ 'Click on will clarify search query' | trans }}</p>
        {% render 'AnyxCrosswordBundle:Lists:tags' %}
    </div>
</div>

{% endblock %}
