{% extends '::main.html.twig' %}

{% set title = 'Search' | trans %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@WhiteOctoberPagerfantaBundle/Resources/public/css/pagerfantaDefault.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block page_subtitle %}
<div class="menu-subtitle">
    {{ knp_menu_render('AnyxCrosswordBundle:Builder:crosswordsMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'bullets margin-right' }) }}
</div>
{% endblock %}

{% block body %}

{% include 'AnyxCrosswordBundle:Lists:form.html.twig' with {'form': form} %}

<div class="results clear">
    {% if result is empty %}
        {% if isValid %}
            <span class="results-info margin-bottom">{{ 'Unfortunately nothing found' | trans }}</span>
        {% endif %}
    {% else %}
        <span class="results-info margin-bottom">{{ 'Total found crosswords' | trans }}: {{ result.count }}</span>
        {% include 'AnyxCrosswordBundle:Lists:list.html.twig' with {'result': result}  %}
    {% endif %}
</div>

{% endblock %}
