{% extends '::main.html.twig' %}

{% block page_title %}
    {{ 'Search' | trans }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@AnyxCrosswordBundle/Resources/public/css/styles/form.css'
        '@AnyxCrosswordBundle/Resources/public/css/colors.css'
        '@WhiteOctoberPagerfantaBundle/Resources/public/css/pagerfantaDefault.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}

{% include 'AnyxCrosswordBundle:Lists:form.html.twig' with {'form': form} %}

<div class="results clear">
    {% if result is empty %}
        <span class="results-info margin-bottom">{{ 'Unfortunately nothing found' | trans }}</span>
    {% else %}
        <span class="results-info margin-bottom">{{ 'Total found crosswords' | trans }}: {{ result.count }}</span>
        {% include 'AnyxCrosswordBundle:Lists:list.html.twig' with {'result': result}  %}
    {% endif %}
</div>

{% endblock %}
