<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
			 More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    {% set description = 'Crossword editor. Service for creating and solving crosswords' | trans %}
	<meta name="description" content="{{ description }}" />
	<meta name="keywords" content="{{ 'site.keywords' | trans }}" />

    {% block stylesheets %}
        {% stylesheets
            '@AnyxCrosswordBundle/Resources/public/css/bootstrap.min.css'
            '@AnyxCrosswordBundle/Resources/public/css/main-page.css'
            '@AnyxCrosswordBundle/Resources/public/js/libs/colorbox/colorbox.css'
        %}
            <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
            <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                filter: none;
                }
            </style>
            <![endif]-->
    {% endblock %}

    {% block javascripts %}{% endblock %}    
    
	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Facebook opengraph data: http://developers.facebook.com/docs/share -->
	<meta property="og:title" content="{{ 'Crossword editor' | trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url('homepage') }}" />
    <meta property="og:site_name" content="{{ 'Crossword editor' | trans }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="{{baseUrl}}{{ asset('img/logo.png') }}" />

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33425091-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?50"></script>

    <script type="text/javascript">
    VK.init({apiId: {{vkOptions.client_id}}, onlyWidgets: true});
    </script>
</head>

<body role="document">

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
			 chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<header role="banner" id="top">
        <div id="header-back"></div>
        <div class="container">
		<nav role="navigation">
            {% if app.user %}
            <a href="{{path('user_profile')}}" title="{{app.user.username}}" class="nav-right" >{{ 'Profile' | trans }}</a>
            {% else %}
            <a href="{{path('fos_user_security_login')}}" class="nav-right">{% trans %}Login{%endtrans%}</a>
            {% endif %}
            
			<a href="{{ path('new_crosswords') }}" title="{{ 'Creation and solution crosswords' | trans }}" >{%trans%}Crosswords{%endtrans%}</a>
			<a href="{{ path('random_crossword') }}" title="{{ 'Random crossword' | trans }}">{{ 'Random crossword' | trans }}</a>
			<a href="{{ path('page', {'slug' : 'about'}) }}" title="{{ 'About' | trans }}">{{ 'About' | trans }}</a>

        </nav>

		<hgroup>
			<div id="logo"></div>
			<h1>Web</h1>
			<h2>Crosswords<br>
			<b>Editor</b></h2>
		</hgroup>
            
        
		<p class="tagline">{%trans%}your{%endtrans%} <span class="term">{%trans%}collection{%endtrans%}</span> <strong>{%trans%}crosswords{%endtrans%}</strong></p>

		<ul id="mind">
			<li>
				<a href="#constructor" title="Веб-коструктор кроссвордов">
					<span class="icon-pencil" id="create-icon"></span>
					<strong>{%trans%}Creation{%endtrans%}</strong><br>
					{%trans%}own crosswords{%endtrans%}
				</a>
			</li>
			<li>
				<a href="#intro" title="{%trans%}Solution{%endtrans%}">
					<span id="want-picto">?</span>
					<strong>{%trans%}Solution{%endtrans%}</strong><br>
					{%trans%}community crosswords{%endtrans%}
				</a>
			</li>
		</ul>

        <div id="cells" class="i-back-layer">
        </div>
        
        <div id="editor" class="i-middle-layer">
            <div class="blue-cell">e</div>
            <div class="blue-cell">d</div>
            <div class="blue-cell">i</div>
            <div class="blue-cell">t</div>
            <div class="blue-cell">o</div>
            <div class="blue-cell">r</div>
        </div>           
        
        <div id="crossword" class="i-top-layer">
            <div class="red-cell">c</div>
            <div class="red-cell">r</div>
            <div class="red-cell">o</div>
            <div class="red-cell">s</div>
            <div class="red-cell">s</div>
            <div class="red-cell">w</div>
            <div class="red-cell">o</div>
            <div class="red-cell">r</div>
            <div class="red-cell">d</div>
        </div>
        
	</div></header>
	<div role="main"><div class="container">
        {% block body %}{% endblock %}
   		<aside>

			<div class="aside-icon-block" id="aside-technos">
				<span class="aside-icon"></span>
                <h3 id="constructor"><b>{%trans%}Constructor{%endtrans%}</b></h3>
				<p>{%trans%}Easy creation and editing crosswords, access managment{%endtrans%}</p>
                <a href="{{ path('create_crossword')}}">{%trans%}Try{%endtrans%}</a>
			</div>

			<div class="aside-icon-block" id="aside-features">
				<span class="aside-icon"></span>
                <h3><b>{%trans%}Catalog{%endtrans%}</b></h3>
				<p>{%trans%}Search crosswords{%endtrans%}</p>
			</div>

			<div class="aside-icon-block" id="aside-responsive">
				<span class="aside-icon"></span>
                <h3><b>{%trans%}Analyse{%endtrans%}</b></h3>
				<p>{%trans%}Statistic of views and solutions your own crosswords{%endtrans%}</p>
			</div>

			<h4>{%trans%}Also{%endtrans%}</h4>

			<p>{%trans%}A lot of some stuff, if you ask{%endtrans%}</p>

			<div id="bonus">
				<h4>{%trans%}And yes{%endtrans%}</h4>
                <p>{%trans%}All this is totally{%endtrans%} <strong>{%trans%}free!{%endtrans%}</strong></p>
			</div>

			<h4 id="share">{%trans%}Share{%endtrans%}</h4>

            <div class="sharing">
                <div class="chareButton">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="zryaneskazhev" data-lang="ru">Твитнуть</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

                <div class="chareButton">
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=204794436315935";
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>                
                </div>
                
                <div class="chareButton">
                <div id="vk_like"></div>
                <script type="text/javascript">
                    VK.Widgets.Like("vk_like", {type: "full", height:20});
                </script>
                </div>
                    
                <div class="chareButton">
                    <div class="g-plusone" data-size="medium"></div>

                    <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                    </script>
                </div>
                    
			</div>

		</aside>

	</div></div>
    
	<footer role="contentinfo"><div class="container">
        <div class="footer-info">
            <div class="container">
                <div class="columns">
                    {{ knp_menu_render('AnyxCrosswordBundle:Builder:bottomMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'footer-menu' }) }}
                </div>
                <div class="float-right copyright">
                    <p>{{ 'All rights must be reserved' | trans }} <br />&copy; <a href="http://anyx.me">anyx</a> {{ "now"|date("Y") }}</p>
                </div>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript">
        // Colorbox
        $('#qr-code-block').colorbox({ title:'Scan this QRcode to go to the online demo' });
        $('#screenshots-mobile a').colorbox({rel:'mobile-screenshots', loop:false});
        $('#screenshots-desktop a').colorbox({rel:'desktop-screenshots', loop:false});
    </script>
    {% block inlineJavascripts %}{% endblock %}
</body>
</html>