<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ 'Crosswords editor' | trans }} | {% block title %}{% endblock %}</title>

		{% block stylesheets %}
			{% stylesheets
				'@AnyxCrosswordBundle/Resources/public/css/main.css'
				'@AnyxCrosswordBundle/Resources/public/css/reset.css'
				'@AnyxCrosswordBundle/Resources/public/css/style.css'
				'@AnyxCrosswordBundle/Resources/public/css/colors.css'
			%}
				<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
            <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                filter: none;
                }
            </style>
            <![endif]-->
            <link href='http://fonts.googleapis.com/css?family=Play&amp;subset=cyrillic,latin' rel='stylesheet' type='text/css'>
		{% endblock %}		

        {% set description = 'Crossword editor. Service for creating and solving crosswords' | trans %}
        <meta name="description" content="{{ description }}, {% block page_description %}{% endblock %}" />
        <meta name="keywords" content="{{ 'site.keywords' | trans }}, {% block page_keywords %}{% endblock %}" />           
            
        {% block javascripts %}{% endblock %}
            
        <!-- For progressively larger displays -->
        <link rel="stylesheet" media="only all and (min-width: 480px)" href="/css/480.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 768px)" href="/css/768.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 992px)" href="/css/992.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 1200px)" href="/css/1200.css?v=1">
        <!-- For Retina displays -->

        <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="/css/2x.css?v=1">
            
    </head>
    
    <body>
        {% block inlineJavascripts %}{% endblock %}
        <div class="container header-container orange-gradient">
        <header>
            <nav role="navigation">
                {{ knp_menu_render('AnyxCrosswordBundle:Builder:topMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'top-menu' }) }}
                
                    <div class="relative nav-right">
                    {% if app.user %}
                    <a href="{{path('user_profile')}}" title="{{ 'Profile' | trans }}" >{{app.user.username}}</a>
                    <a href="{{ path('fos_user_security_logout') }}">[{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}]</a>
                    {% else %}
                    <a href="{{path('fos_user_security_login')}}">{% trans %}Login{%endtrans%}</a>
                    {% endif %}
                    </div>
            </nav>
        </header>
        </div>
        
        <div class="container logo-container">
            <a href="{{ path('new_crosswords') }}">
                <div id="logo"></div>
                <div id="site-name" class="thin">{%trans%}Crosswords editor{%endtrans%}</div>
            </a>
        </div>
            
		<div class="container content">

            <div id="main-title" class="thin">
                <h1>{% block page_title %}{% endblock %}</h1>
                {% block page_subtitle %}{% endblock %}
            </div>

            <div class="main-content">

            {% if error is defined and error %}
            <p><div class="message red-gradient">
                    {{ error|trans() }}
            </div></p>    
            {% endif %}

			{% for key, flash in app.session.getFlashes() %}
            
            {% set classes = { 'message' : 'blue-gradient', 'error' : 'red-gradient', 'fos_user_success' : 'blue-gradient' } %}

            <p><div class="message {% if key in classes|keys %} {{classes[key]}} {% endif %}">
					{{ flash | trans }}
			</div></p>
			{% endfor %}				

			{% block body %}{% endblock %}

            </div>
		</div>

        <footer class="black-gradient">
            <div class="container">
            <p>&copy; Company 2012</p>
            </div>
        </footer>            
    </body>
</html>