<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | {{ 'Crosswords editor' | trans }}</title>

		{% block stylesheets %}
			{% stylesheets
				'@AnyxCrosswordBundle/Resources/public/css/main.css'
				'@AnyxCrosswordBundle/Resources/public/css/reset.css'
				'@AnyxCrosswordBundle/Resources/public/css/style.css'
				'@AnyxCrosswordBundle/Resources/public/css/colors.css'
                '@AnyxCrosswordBundle/Resources/public/css/styles/form.css'
			%}
				<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
            <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                filter: none;
                }
            </style>
            <![endif]-->
            <link href='http://fonts.googleapis.com/css?family=Play&amp;subset=cyrillic,latin' rel='stylesheet' type='text/css'>
		{% endblock %}		

        {% set description = 'Crossword editor. Service for creating and solving crosswords' | trans %}
        <meta name="description" content="{{ description }}, {% block page_description %}{% endblock %}" />
        <meta name="keywords" content="{{ 'site.keywords' | trans }}, {% block page_keywords %}{% endblock %}" />           
            
        {% block javascripts %}{% endblock %}
            
        <!-- For progressively larger displays -->
        <link rel="stylesheet" media="only all and (min-width: 480px)" href="/css/480.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 768px)" href="/css/768.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 992px)" href="/css/992.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 1200px)" href="/css/1200.css?v=1">
        <!-- For Retina displays -->

        <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="/css/2x.css?v=1">

        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33425091-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>        
    </head>
    
    <body>
        {% block inlineJavascripts %}{% endblock %}
        <div class="container header-container orange-gradient">
        <header>
            <nav role="navigation">
                {{ knp_menu_render('AnyxCrosswordBundle:Builder:topMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'top-menu' }) }}
                
                    <form action="{{ path('search_crosswords') }}" method="GET" class="header-form">
                    <input class="input search-input" name="form[term]" placeholder="{{ 'Find crosswords' | trans }}"/>
                    <button type="submit" class="button icon-search compact blue-gradient" title="{{ 'Search' | trans }}"></button>
                    </form>
                    <div class="relative nav-right user-menu">
                    {% if app.user %}
                    <a href="{{path('user_profile')}}" title="{{ 'Profile' | trans }}" >{{app.user.name}}</a>
                    <a href="{{ path('fos_user_security_logout') }}">[{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}]</a>
                    {% else %}
                    <a href="{{path('fos_user_security_login')}}">{% trans %}Login{%endtrans%}</a>
                    {% endif %}
                    </div>
            </nav>
        </header>
        </div>
        
        <div class="container logo-container">
            <a href="{{ path('new_crosswords') }}">
                <div id="logo"></div>
                <div id="site-name" class="thin">{%trans%}Crosswords editor{%endtrans%}</div>
            </a>
        </div>
            
		<div class="container content">

            <div id="main-title" class="thin">
                <h1>{% block page_title %}{% endblock %}</h1>
                {% block page_subtitle %}{% endblock %}
            </div>

            <div class="main-content">

            {% if error is defined and error %}
            <p><div class="message red-gradient">
                    {{ error|trans() }}
            </div></p>    
            {% endif %}

			{% for key, flash in app.session.getFlashes() %}
            
            {% set classes = { 'message' : 'blue-gradient', 'error' : 'red-gradient', 'fos_user_success' : 'blue-gradient' } %}

            <p><div class="message {% if key in classes|keys %} {{classes[key]}} {% endif %}">
					{{ flash | trans }}
			</div></p>
			{% endfor %}				

			{% block body %}{% endblock %}

            </div>
		</div>
            
        <div class="dummy"></div>
        
        <footer class="black-gradient">
            <div class="container">
            <div class="columns">
                    {{ knp_menu_render('AnyxCrosswordBundle:Builder:bottomMenu', {'template' : 'AnyxCrosswordBundle:Default:menu.html.twig', 'rootClass' : 'footer-menu' }) }}
            </div>
            <div class="float-right copyright">
                <p>{{ 'All rights must be reserved' | trans }} <br />&copy; <a href="http://anyx.me">anyx</a> {{ "now"|date("Y") }}</p>
            </div>
        </footer>            
    </body>
</html>