<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Tests{% endblock %}</title>

		{% block stylesheets %}
			{% stylesheets
				'@AnyxCrosswordBundle/Resources/public/css/bootstrap.min.css'
				'@AnyxCrosswordBundle/Resources/public/css/main.css'
			%}
				<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}		

        {% block javascripts %}{% endblock %}

		<style type="text/css">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		</style>
				
    </head>
    <body>

		<div class="container">

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="login-block">
						{% if app.user %}
						<a href="{{path('user_profile')}}">{{app.user.username}}</a>
						{% else %}
						<a href="{{path('fos_user_security_login')}}">{% trans %}Login{%endtrans%}</a>
						{% endif %}
					<!--Body content-->
					</div>
				</div>
			</div>
			
			{% block hero_block %}{% endblock %}

			{% for key, flash in app.session.getFlashes() %}
				<div class="alert {{key}}">
					{{ flash }}
				</div>
			{% endfor %}				
			
			<div class="main-content">
            <div class="page-header">
			<h1>{% block page_title %}{% endblock %}</h1>
            </div>    
			
			{% block body %}{% endblock %}

			<a href="{{path('_tests')}}">Tests</a>
			</div>
			<footer>
				<p>&copy; Company 2012</p>
			</footer>
		</div>
    </body>
</html>
