{% extends '::main.html.twig' %}

{% block page_title %}
    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@AnyxCrosswordBundle/Resources/public/css/styles/form.css'
	%}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="columns">
    <div class="seven-columns">
        <div>
            {#
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            #}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        {% render "AnyxCrosswordBundle:Default:listAuthServices"  %}
        <p>{% trans %}or use your account on site{% endtrans %}:</p>
        <div>
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
    <div class="four-columns ">
        <div class="wrapped relative hint">
            {{ 'Authorized users can create own crosswords. For solving crosswords authorization not required' | trans }}
        </div>
    </div>
</div>
{% endblock %}