{% extends '::main.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
		'@AnyxCrosswordBundle/Resources/public/js/jquery-ui.min.js'
	
		'@AnyxCrosswordBundle/Resources/public/js/json2.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.actAs/locatable.js'
		
		'@FOSJsRoutingBundle/Resources/public/js/router.js'

		'@AnyxCrosswordBundle/Resources/public/js/views/View.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/SolverWord.js'
        '@AnyxCrosswordBundle/Resources/public/js/views/SuccessSavedMessage.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/WordDefinition.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Presenter.js'		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Solver.js'

		'@AnyxCrosswordBundle/Resources/public/js/theme/libs/modernizr.custom.js'
        'http://vkontakte.ru/js/api/share.js?9'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script type="text/javascript">
		$(function(){
			var solver = new Anyx.Presenter.Solver({
				el			: $('.i-crossword'),
				cellSize	: 19,
				words		: {{ crossword.wordsForSolving | serialize | raw }},
				selectors	: {
					verticalPanel	: '.i-vertical-container',
					horizontalPanel : '.i-horizontal-container',
					word			: '.word-container',
                    saveButton      : '.i-save-button'
				},
				templates	: {
					word	: 't-solver-word',
					definition	: 't-solver-word-definition',
                    successSolved : 't-solver-saving-success',
                    solveSaved: 't-solver-saving-incorrect',
				},
                savePath    : Routing.generate(
                                    'crossword_save_solution',
                                    {
                                        id : '{{ crossword.id }}'
                                    }
                ),
                {% if solution is not empty %}
                solution    : {{ solution | raw }},
                {% endif %}
                messages    : {
                    saveSuccessfully: '{{ 'Save successfully' | trans }}',
                    saveError       : '{{ 'Saving error' | trans }}',
                    saving          : '{{ 'Saving...' | trans }}',
                    congratulatons  : '{{ 'Congratulations!' | trans }}'
                }
			});
		});	
	</script>
	
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback" : "fos.Router.setData"}) }}"></script>
{% endblock %}	

{% block inlineJavascripts %} 
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/theme/setup.js'
		'@AnyxCrosswordBundle/Resources/public/js/theme/developr.modal.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>

	{% endjavascripts %}    
{% endblock %}
    
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@AnyxCrosswordBundle/Resources/public/css/solver.css'
        '@AnyxCrosswordBundle/Resources/public/css/styles/modal.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block page_title %}{%trans%}Solving crossword{%endtrans%} &laquo;{{crossword.title}}&raquo; {% endblock %}
{% block title %}{%trans%}Solving crossword{%endtrans%} &laquo;{{crossword.title}}&raquo; {% endblock %}

{% block page_description %}{{crossword.description}}{% endblock %}
{% block page_keywords %}{{crossword.title}}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Кроссворд &laquo;{{crossword.title}}&raquo;" />
<meta property="og:type" content="crossword" />
<meta property="og:url" content="{{url("crossword_solve", {'id' : crossword.id})}}" />
<meta property="og:description" content="{{crossword.description}}" />
<meta property="og:image" content="{{app.request.scheme}}://{{app.request.httpHost}}{{asset("img/og_logo.png")}}" />
{% endblock %}

{% block body %}
<div class="columns">
	<div class="eight-columns">
		<div class="i-crossword crossword-solver"></div>
	</div>
	<div class="four-columns definitions-panel">
		<h4>{%trans%}Horizontal{%endtrans%}</h4>
		<ul class="i-horizontal-container">
		</ul>
		<h4>{%trans%}Vertical{%endtrans%}</h4>
		<ul class="i-vertical-container">
		</ul>
		
		<input type="button" class="button blue-gradient i-save-button" value="{% trans %}Save{% endtrans %}" />	
	</div>	
</div>	

<script type="text/template" id="t-solver-word">
<div class="word-container" data-id="<%=word.id%>">
	<table class="solver-word-table">
        <% if (_.isEmpty(word.number)) { %>
            <span class="word-number"><%-(word.number+1)%></span>
        <% } %>
		<% if (word.horizontal) { %>
			<tr>
			<% for(var i = 0; i < word.length; i++) { %>
			<td rel="<%= i %>"><input maxlength="1" /></td>
			<% } %>
			</tr>
		<% } else { %>
			<% for(var i = 0; i < word.length; i++) { %>
				<tr><td rel="<%= i %>"><input maxlength="1" /></td></tr>
			<% } %>
		<%} %>
	</table>
</div>	
</script>

<script type="text/template" id="t-solver-word-definition">
	<li><%=number+1%>. <span><%=definition%>.</span></li>
</script>

<div id="t-solver-saving-incorrect" style="display:none;">
    <div class="incorrect-solving-block">
        <h3 class="thin">{{'Solving saved' | trans}}</h3>
        <p>{{'Unfortunately, your solving incorrect. You may try solve this crossword later'|trans}}</p>
        <p style="text-align: center; margin-top: 30px;">
            <input type="button" class="button blue-gradient i-close-modal" value="{{"Close"|trans}}"/>
        </p>
    </div>
</div>

<div id="t-solver-saving-success" style="display:none;">
    <div class="congratulations-block">
        <h3 class="thin">{% trans %}Your solving is correct!{% endtrans %}</h4>
        <p>{{ 'Tell about this!' | trans }}</p>
        <p>
            <span class="share-button">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=114949468588006";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

                <span class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
                </span>
            </span>
            <br />
            
            <span class="share-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" data-hashtags="Кроссворды">{{'Tweet about this' | trans}}</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </span>
            
            <span class="share-button">
                <span id="j-share-button"></span>
                <script type="text/javascript">
                document.getElementById('j-share-button').innerHTML = VK.Share.button(window.location, {type: 'button'});
                </script>
            </span>
        </p>
        
        <p style="text-align: center; margin-top: 100px;">
            <input type="button" class="button blue-gradient i-close-modal" value="{{"Close"|trans}}"/>
        </p>
    </div>
</div>

{% endblock %}