{% extends '::main.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
		'@AnyxCrosswordBundle/Resources/public/js/jquery-ui.min.js'
	
		'@AnyxCrosswordBundle/Resources/public/js/json2.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.actAs/locatable.js'
		
		'@FOSJsRoutingBundle/Resources/public/js/router.js'

		'@AnyxCrosswordBundle/Resources/public/js/views/View.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/SolverWord.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/WordDefinition.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Presenter.js'		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Solver.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script type="text/javascript">
		$(function(){
			var solver = new Crossword.Presenter.Solver({
				el			: $('.i-crossword'),
				cellSize	: 19,
				words		: {{ crossword.wordsForSolving | serialize | raw }},
				selectors	: {
					verticalPanel	: '.i-vertical-container',
					horizontalPanel : '.i-horizontal-container',
					word			: '.word-container',
                    saveButton      : '.i-save-button'
				},
				templates	: {
					word	: 't-solver-word',
					definition	: 't-solver-word-definition'
				},
                savePath    : Routing.generate(
                                    'crossword_save_solution',
                                    {
                                        id : '{{ crossword.id }}'
                                    }
                )
			});
		});	
	</script>
	
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback" : "fos.Router.setData"}) }}"></script>
{% endblock %}	

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@AnyxCrosswordBundle/Resources/public/css/solver.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block page_title %} Solving crossword &laquo;{{crossword.title}}&raquo; {% endblock %}

{% block body %}

<div class="columns-container">
	<div class="left-column">
		<div class="i-crossword crossword-solver">
		</div>
	</div>
	<div class="right-column">
		<h4>Horizontal</h4>
		<ul class="i-horizontal-container">
		</ul>
		<h4>Vertical</h4>
		<ul class="i-vertical-container">
		</ul>
	</div>
</div>

<script type="text/template" id="t-solver-word">
<div class="word-container">
	<table class="solver-word-table">
		<% if ( word.horizontal ) { %>
			<tr>
			<% for( var i = 0; i < word.length; i++ ) { %>
			<td rel="<%= i %>"><input maxlength="1" /></td>
			<% } %>
			</tr>
		<% } else { %>
			<% for( var i = 0; i < word.length; i++ ) { %>
				<tr><td rel="<%= i %>"><input maxlength="1" /></td></tr>
			<% } %>
		<%} %>
	</table>
</div>	
</script>


<script type="text/template" id="t-solver-word-definition">
	<li><%=number+1%>. <%=definition%>.</li>
</script>

<input type="button" class="i-save-button" value="save" />

{% endblock %}