{% extends '::index.html.twig' %}

{% block javascripts %}
	{{ parent() }}
    {% javascripts
        '@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
        '@AnyxCrosswordBundle/Resources/public/js/script.js'
        '@AnyxCrosswordBundle/Resources/public/js/libs/modernizr-2.5.3.min.js'
        '@AnyxCrosswordBundle/Resources/public/js/libs/colorbox/jquery.colorbox-min.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
    
{% block inlineJavascripts %}
	{{ parent() }}
    {% javascripts
        '@AnyxCrosswordBundle/Resources/public/js/script.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}    
{% endblock %}
    
{% block title %}
    {{ 'Welcome to crossword editor' | trans }}
{% endblock %}
    
{% block body %}

<article>
    <p class="intro" id="intro">
        {%trans%}main_intro{%endtrans%}
    </p>

 	{% if crosswords.popular | length > 0 %}
	<h2>{% trans %}Popular crosswords{% endtrans %}</h2>
    <section>
        <ul class="bullets">
		{% for crossword in crosswords.popular %}
			<li>
				<a href="{{ path( 'crossword_solve', { 'id' : crossword.id })}}">{{ crossword.title }}</a>
				<p class="description">{{crossword.description | truncate(20)}}</p>
			</li>
		{% endfor %}
		</ul>
        <a href="{{path('popular_crosswords')}}" class="right-link">{% trans %}all{% endtrans %} ({{crosswords.popular.count}})</a>
    </section>
	{% endif %}

	{% if crosswords.new | length > 0 %}
	<h2>{% trans %}Last crosswords{% endtrans %}</h2>
	<section>
		<ul class="bullets">
		{% for crossword in crosswords.new%}
			<li>
				<a href="{{ path( 'crossword_solve', { 'id' : crossword.id })}}">{{ crossword.title }}</a>
				<p class="description">{{crossword.description | truncate(20)}}</p>
			</li>
		{% endfor %}
		</ul>
        <a href="{{path('new_crosswords')}}" class="right-link">{% trans %}all{% endtrans %} ({{crosswords.new.count}})</a>
	</section>
	{% endif %}
</article>    
{% endblock %}
