{% extends '::main.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
		'@AnyxCrosswordBundle/Resources/public/js/jquery-ui.min.js'
	
		'@AnyxCrosswordBundle/Resources/public/js/json2.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.string.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.validations.js'
		
		'@FOSJsRoutingBundle/Resources/public/js/router.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/models/Crossword.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/CrosswordModel.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/Word.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/WordsCollection.js'

		'@AnyxCrosswordBundle/Resources/public/js/views/Container.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/views/View.js'
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Presenter.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/views/Grid.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/Word.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/WordPreview.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/DirectionChooser.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/StatusBar.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/WordForm.js'
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Editor.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script type="text/javascript">
		$(function(){
			var editor = new Crossword.Presenter.Editor({
				id			: '{{crossword.getId()}}',
				selectors	: {
					grid				: '.i-grid',
					form				: '.i-word-form',
					saveButton			: '.i-save-button',
					formSelectors		: {
						word				: '.i-word-text',
						definition			: '.i-word-definition',
						directionChooser	: '.i-direction-chooser',
						wordPreview			: '.i-word-preview',
						statusBar			: '.i-status-bar'
					}
				},
				classes		: {
					wordTable	: 'word-table'
				}
			});
		});
	</script>
	
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback" : "fos.Router.setData"}) }}"></script>
	
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@AnyxCrosswordBundle/Resources/public/css/editor.css'
		'@AnyxCrosswordBundle/Resources/public/css/main.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}

<div class="columns-container">
	<div class="left-column">
		<div class="i-grid crossword-editor">	
		</div>
	</div>
	<div class="right-column">
		
		<div class="i-status-bar"></div>
		
		<form class="i-word-form word-form">
			<dl class="form">
				<dt>
					<label>Word</label>
					<span id="status"></span>
				</dt>
				<dd>
					<input type="text" class="i-word-text" autocomplete="off" />
				</dd>
				<dt>
					<label>Definition</label>
				</dt>
				<dd>
					<textarea class="i-word-definition" autocomplete="off"></textarea>
				</dd>
			</dl>

			<div class="i-direction-chooser">
				<ul class="i-direction-menu">
					<li><a href="#" rel="vertical">Vertical</a></li>
					<li><a href="#" rel="horizontal">Horizontal</a></li>
				</ul>
			</div>
			<div class="i-word-preview word-preview">
			</div>
		</form>

		<input type="button" value="save" class="i-save-button" />
	</div>
</div>

<script type="text/template" id="t-status-bar">
	<div class="editor-status <%= status %>">
		<div class="icon"></div>
		<div class="status-text i-status-text"><%= text %></div>
	</div>
</script>

{% endblock %}