{% extends '::main.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
		'@AnyxCrosswordBundle/Resources/public/js/jquery-ui.min.js'
	
		'@AnyxCrosswordBundle/Resources/public/js/json2.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.string.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.validations.js'
		
		'@FOSJsRoutingBundle/Resources/public/js/router.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/models/Crossword.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/Word.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/WordsCollection.js'

		'@AnyxCrosswordBundle/Resources/public/js/views/Container.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/views/View.js'
        '@AnyxCrosswordBundle/Resources/public/js/views/Constructor.js'
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Presenter.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/views/Grid.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/Word.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/WordPreview.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/DirectionChooser.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/StatusBar.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/WordForm.js'
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Editor.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script type="text/javascript">
		$(function(){
			var editor = new Constructor.Presenter.Editor({
				id			: '{{crossword.getId()}}',
				words		: {{crossword.words | serialize | raw}},
				selectors	: {
					grid				: '.i-grid',
					form				: '.i-word-form',
					saveButton			: '.i-save-button',
					formSelectors		: {
						word				: '.i-word-text',
						definition			: '.i-word-definition',
						directionChooser	: '.i-direction-chooser',
						wordPreview			: '.i-word-preview',
						statusBar			: '.i-status-bar',
						statusText			: '.i-status-text'
					}
				},
				classes		: {
					wordTable	: 'word-table'
				},
                messages    : {
                    {% for message in ['definition_required', 'definition_minlength', 'text_required', 'text_minlength','word_valid'] %}
                    {% set transMessage = 'constructor.message.' ~ message %}
                    {{message}}     : '{{transMessage | trans}}',
                    {% endfor %}    
                    defaultStatus   : '{%trans%}Current status is reflected in this block{%endtrans%}',
                    wordAdded       : '{%trans%}Success. Now you can add new word{%endtrans%}',
                    wordRemoved     : '{%trans%}Word removed{%endtrans%}',
                    saveSuccessfully: '{%trans%}Save successfully{%endtrans%}',
                    saveError       : '{%trans%}Saving error{%endtrans%}'
                }
			});
		});
	</script>
	
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback" : "fos.Router.setData"}) }}"></script>
	
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@AnyxCrosswordBundle/Resources/public/css/editor.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block page_title %}
    {%trans%}Construct crossword{%endtrans%} &laquo;{{crossword.title}}&raquo;
{% endblock %}

{% block page_subtitle %}
<div class="menu-subtitle">
    <a href="{{ path('crossword_edit', {'id' : crossword.id} )}}">{%trans%}Edit{%endtrans%}</a>
</div>
{% endblock %}
    
{% block body %}
<div class="row">
	<div class="span7">
		<div class="i-grid crossword-editor">	
		</div>
	</div>
	<div class="span4">
        
		<form class="i-word-form word-form form-vertical">
            
            <label>{% trans %}Word{% endtrans %}</label>
            <span id="status" class="i-status-bar"></span>
            <input type="text" class="i-word-text" autocomplete="off" />
            <label>{% trans %}Definition{% endtrans %}</label>
            <textarea class="i-word-definition" autocomplete="off"></textarea>

			<div class="i-direction-chooser btn-group">
                <button class="btn" rel="horizontal">{% trans %}Horizontal{% endtrans %}</button>
                <button class="btn" rel="vertical">{% trans %}Vertical{% endtrans %}</button>
			</div>
            
			<div class="i-word-preview word-preview well">
			</div>
		</form>

		<input type="button" value="{% trans %}Save{% endtrans %}" class="i-save-button btn btn-primary" />
	</div>
</div>

<script type="text/template" id="t-status-bar">
    <%
    var classes = {
        info    : {
            label   : 'label-info',
            hint    : 'alert-info'
        },
        error   : {
            label   : 'label-important',
            hint    : 'alert-error'
        },
        success   : {
            label   : 'label-info',
            hint    : 'alert-success'
        }
    };
    %>
    
    <span class="label <%=classes[status]['label']%>">{%trans%}status{%endtrans%}</span>
    <div class="status-text i-status-text alert <%=classes[status]['hint']%>" style="display:none">
        <%= text %>
    </div>
</script>

{% endblock %}