{% extends '::main.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/jquery.min.js'
		'@AnyxCrosswordBundle/Resources/public/js/jquery-ui.min.js'
	
		'@AnyxCrosswordBundle/Resources/public/js/json2.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.js'
		'@AnyxCrosswordBundle/Resources/public/js/underscore.string.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.js'
		'@AnyxCrosswordBundle/Resources/public/js/backbone.validations.js'
		
		'@FOSJsRoutingBundle/Resources/public/js/router.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/models/Crossword.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/Word.js'
		'@AnyxCrosswordBundle/Resources/public/js/models/WordsCollection.js'

		'@AnyxCrosswordBundle/Resources/public/js/views/Container.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/views/View.js'
        '@AnyxCrosswordBundle/Resources/public/js/views/Constructor.js'
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Presenter.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/views/Grid.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/Word.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/WordPreview.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/DirectionChooser.js'
		'@AnyxCrosswordBundle/Resources/public/js/views/StatusBar.js'
        '@AnyxCrosswordBundle/Resources/public/js/views/SuccessSavedMessage.js'
		
		'@AnyxCrosswordBundle/Resources/public/js/presenters/WordForm.js'
		'@AnyxCrosswordBundle/Resources/public/js/presenters/Editor.js'


		'@AnyxCrosswordBundle/Resources/public/js/theme/libs/modernizr.custom.js'
        'http://vkontakte.ru/js/api/share.js?9'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
    
	<script type="text/javascript">
		$(function(){
			var editor = new Constructor.Presenter.Editor({
				id			: '{{crossword.getId()}}',
				words		: {{ words | raw}},
                templates   : {
                    savingSuccessful: 't-editor-saving-success'
                },
				selectors	: {
					grid				: '.i-grid',
					form				: '.i-word-form',
					saveButton			: '.i-save-button',
					formSelectors		: {
						word				: '.i-word-text',
						definition			: '.i-word-definition',
						directionChooser	: '.i-direction-chooser',
						wordPreview			: '.i-word-preview',
						statusBar			: '.i-status-bar',
						statusText			: '.i-status-text'
					}
				},
				classes		: {
					wordTable	: 'word-table'
				},
                messages    : {
                    {% for message in ['definition_required', 'definition_minlength', 'text_required', 'text_minlength', 'text_maxlength', 'word_valid'] %}
                    {% set transMessage = 'constructor.message.' ~ message %}
                    {{message}}     : '{{transMessage | trans}}',
                    {% endfor %}    
                    defaultStatus   : '{%trans%}Current status is reflected in this block{%endtrans%}',
                    wordAdded       : '{%trans%}Success. Now you can add new word{%endtrans%}',
                    wordRemoved     : '{%trans%}Word removed{%endtrans%}',
                    saveError       : '{%trans%}Saving error{%endtrans%}',
                    saving          : '{%trans%}Saving...{%endtrans%}',
                    congratulatons  : '{{ 'Congratulations!' | trans }}'
                }
			});            
		});
	</script>
	
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback" : "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block inlineJavascripts %} 
	{{ parent() }}

	{% javascripts
		'@AnyxCrosswordBundle/Resources/public/js/theme/setup.js'
		'@AnyxCrosswordBundle/Resources/public/js/theme/developr.modal.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>

	{% endjavascripts %}    
{% endblock %}
    
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@AnyxCrosswordBundle/Resources/public/css/styles/modal.css'
		'@AnyxCrosswordBundle/Resources/public/css/editor.css'
	%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

        
{% block page_title %}
    {%trans%}Construct crossword{%endtrans%} &laquo;{{crossword.title}}&raquo;
{% endblock %}

{% block page_subtitle %}
<div class="menu-subtitle">
    <a href="{{ path('crossword_edit', {'id' : crossword.id} )}}">{%trans%}Edit{%endtrans%}</a>
</div>
{% endblock %}

    
{% block title %}{%trans%}Construct crossword{%endtrans%} &laquo;{{crossword.title}}&raquo;{%endblock%}
    
{% block body %}
<div class="columns">
	<div class="eight-columns">
		<div class="i-grid crossword-editor">	
		</div>
	</div>
	<div class="four-columns">
        
		<form class="i-word-form word-form form-vertical">
            
            <label>{% trans %}Word{% endtrans %}</label>
            <span id="status" class="i-status-bar"></span>
            <input type="text" class="i-word-text input" autocomplete="off" />
            <label>{% trans %}Definition{% endtrans %}</label>
            <textarea class="i-word-definition input no-resize" autocomplete="off"></textarea>

			<div class="i-direction-chooser button-group direction-selector">
                <button class="button blue-active active" rel="horizontal">{% trans %}Horizontal{% endtrans %}</button>
                <button class="button blue-active" rel="vertical">{% trans %}Vertical{% endtrans %}</button>
			</div>
            
			<div class="wrapped relative word-preview-container">
                <span class="ribbon tiny">
                    <span class="ribbon-inner blue-gradient">{{ 'Preview' | trans }}</span>
                </span>
                <div class="i-word-preview word-preview"></div>
			</div>
		</form>

		<input type="button" value="{% trans %}Save{% endtrans %}" class="i-save-button button blue-gradient float-right" />
	</div>
</div>

<script type="text/template" id="t-status-bar">
    <%
    var classes = {
        info    : {
            label   : 'blue-bg',
            hint    : 'blue-gradient'
        },
        error   : {
            label   : 'red-bg',
            hint    : 'red-gradient'
        },
        success   : {
            label   : 'green-bg green-color',
            hint    : 'green-gradient'
        }
    };
    %>
    
    <span class="tag <%=classes[status]['label']%>">{%trans%}status{%endtrans%}</span>
    <div class="status-text i-status-text message <%=classes[status]['hint']%>" style="display:none">
        <%= text %>
        <span class="block-arrow bottom">
          <span></span>
        </span>
    </div>
</script>

<script type="text/template" id="t-editor-saving-success">
    <div class="congratulations-block">
        <h3 class="thin">{{ 'Save successfully' | trans }}</h4>
        
        <% if (data.crossword.public) { %>
        {{ 'Crossword was saved and published' | trans}}
        <% } else { %>
        <p>
        {{ 'Crossword was saved but not published' | trans}}
        </p>
        <% } %>
         <p>
        {{ 'For public crossword, go to url' | trans}}: <a href="<%-data.editUrl%>">{{'edit'| trans}}</a>
        </p>
        
        <p style="text-align: center; margin-top: 100px;">
            <input type="button" class="button blue-gradient i-close-modal" value="{{"Close"|trans}}"/>
        </p>
    </div>
</script>

{#

#}

{% endblock %}